@import './scss/color';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;

  background-color: $dark-background;

  font-family: 'Inter', sans-serif;
}

// tags global

h1, h2, h3, h4, h5, h6 {
  color: $text-primary;
}

button {
  border: none;

  background-color: transparent;
}